
Kuznechik_Console/bin/Debug/netcoreapp2.2/Kuznechik_Console.deps.json
Kuznechik_Console/bin/Debug/netcoreapp2.2/Kuznechik_Console.dll
Kuznechik_Console/bin/Debug/netcoreapp2.2/Kuznechik_Console.pdb
Kuznechik_Console/bin/Debug/netcoreapp2.2/Kuznechik_Console.runtimeconfig.dev.json
Kuznechik_Console/bin/Debug/netcoreapp2.2/Kuznechik_Console.runtimeconfig.json
.vs/Kuznecik_GOST/DesignTimeBuild/.dtbcache
.vs/Kuznechik_GOST/v15/Server/sqlite3/storage.ide-wal
.vs/Kuznechik_GOST/v15/Server/sqlite3/storage.ide-shm
.vs/Kuznechik_GOST/v15/Server/sqlite3/storage.ide
.vs/Kuznechik_GOST/v15/Server/sqlite3/db.lock
.vs/Kuznechik_GOST/v15/.suo
.vs/Kuznechik_GOST/DesignTimeBuild/.dtbcache
.vs/config/applicationhost.config
Kuznechik_Console/obj/Debug/netcoreapp2.2/Kuznechik_Console.AssemblyInfo.cs
Kuznechik_Console/obj/Debug/netcoreapp2.2/Kuznechik_Console.AssemblyInfoInputs.cache
Kuznechik_Console/obj/Debug/netcoreapp2.2/Kuznechik_Console.assets.cache
Kuznechik_Console/obj/Debug/netcoreapp2.2/Kuznechik_Console.csproj.CoreCompileInputs.cache
Kuznechik_Console/obj/Debug/netcoreapp2.2/Kuznechik_Console.csproj.FileListAbsolute.txt
Kuznechik_Console/obj/Debug/netcoreapp2.2/Kuznechik_Console.dll
Kuznechik_Console/obj/Debug/netcoreapp2.2/Kuznechik_Console.pdb
Kuznechik_Console/obj/project.assets.json
Kuznechik_Console/obj/Kuznechik_Console.csproj.nuget.g.targets
Kuznechik_Console/obj/Kuznechik_Console.csproj.nuget.g.props
Kuznechik_Console/obj/Kuznechik_Console.csproj.nuget.cache
Kuznechik_Console/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Kuznechik_Console/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Kuznechik_Console/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tests/obj/Debug/netcoreapp2.2/KuznechikTests.AssemblyInfo.cs
Tests/obj/Debug/netcoreapp2.2/KuznechikTests.AssemblyInfoInputs.cache
Tests/obj/Debug/netcoreapp2.2/KuznechikTests.assets.cache
Tests/obj/Debug/netcoreapp2.2/KuznechikTests.csproj.CoreCompileInputs.cache
Tests/obj/Debug/netcoreapp2.2/KuznechikTests.csproj.FileListAbsolute.txt
Tests/obj/Debug/netcoreapp2.2/KuznechikTests.csprojAssemblyReference.cache
Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tests/obj/KuznechikTests.csproj.nuget.cache
Tests/obj/KuznechikTests.csproj.nuget.g.props
Tests/obj/KuznechikTests.csproj.nuget.g.targets
Tests/obj/project.assets.json
Tests/bin/Debug/netcoreapp2.2/nunit_random_seed.tmp
Kuznechik_Console/bin/Release/netcoreapp2.2/Kuznechik_Console.deps.json
Kuznechik_Console/bin/Release/netcoreapp2.2/Kuznechik_Console.dll
Kuznechik_Console/bin/Release/netcoreapp2.2/Kuznechik_Console.pdb
Kuznechik_Console/bin/Release/netcoreapp2.2/Kuznechik_Console.runtimeconfig.dev.json
Kuznechik_Console/bin/Release/netcoreapp2.2/Kuznechik_Console.runtimeconfig.json
Kuznechik_Console/obj/Debug/netcoreapp2.2/Kuznechik_Console.csprojAssemblyReference.cache
Kuznechik_Console/obj/Release/netcoreapp2.2/Kuznechik_Console.AssemblyInfo.cs
Kuznechik_Console/obj/Release/netcoreapp2.2/Kuznechik_Console.AssemblyInfoInputs.cache
Kuznechik_Console/obj/Release/netcoreapp2.2/Kuznechik_Console.assets.cache
Kuznechik_Console/obj/Release/netcoreapp2.2/Kuznechik_Console.csproj.CoreCompileInputs.cache
Kuznechik_Console/obj/Release/netcoreapp2.2/Kuznechik_Console.csproj.FileListAbsolute.txt
Kuznechik_Console/obj/Release/netcoreapp2.2/Kuznechik_Console.csprojAssemblyReference.cache
Kuznechik_Console/obj/Release/netcoreapp2.2/Kuznechik_Console.dll
Kuznechik_Console/obj/Release/netcoreapp2.2/Kuznechik_Console.pdb
Kuznechik_Console/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Kuznechik_Console/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Kuznechik_Console/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tests/obj/Release/netcoreapp2.2/KuznechikTests.AssemblyInfo.cs
Tests/obj/Release/netcoreapp2.2/KuznechikTests.AssemblyInfoInputs.cache
Tests/obj/Release/netcoreapp2.2/KuznechikTests.assets.cache
Tests/obj/Release/netcoreapp2.2/KuznechikTests.csproj.CoreCompileInputs.cache
Tests/obj/Release/netcoreapp2.2/KuznechikTests.csprojAssemblyReference.cache
Tests/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tests/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tests/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
